/* Font Import */
@import url('https://fonts.googleapis.com/css?family=Baskervville:400,400i&display=swap');


@font-face {    
    font-family:"expletus sans";
    src: url(../fonts/expletus-sans/expletus_sans_regular.ttf);
    font-weight: normal;
    font-style: normal; 
}

@font-face {    
    font-family:"expletus sans";
    src: url(../fonts/expletus-sans/expletus_sans_bold.ttf);
    font-weight: bold;
    font-style: normal; 
}

@font-face {    
    font-family:"expletus sans";
    src: url(../fonts/expletus-sans/expletus_sans_bold_italic.ttf);
    font-weight: bold;
    font-style: italic;
}

@font-face {    
    font-family:"expletus sans";
    src: url(../fonts/expletus-sans/expletus_sans_italic.ttf);
    font-weight: normal;
    font-style: italic;
}

@font-face {    
    font-family:"ubuntu";
    src: url(../fonts/ubuntu/ubuntu_regular.ttf);
    font-weight: normal;
    font-style: normal; 
}

@font-face {    
    font-family:"ubuntu";
    src: url(../fonts/ubuntu/ubuntu_bold.ttf);
    font-weight: bold;
    font-style: normal; 
}

@font-face {    
    font-family:"ubuntu bold";
    src: url(../fonts/ubuntu/ubuntu_bold_italic.ttf);
    font-weight: bold;
    font-style: italic;
}

@font-face {    
    font-family:"ubuntu italic";
    src: url(../fonts/ubuntu/ubuntu_italic.ttf);
    font-weight: normal;
    font-style: italic; 
}

@font-face {    
    font-family:"ubuntu light";
    src: url(../fonts/ubuntu/ubuntu_light.ttf);
    font-weight: 400;
    font-style: normal; 
}

@font-face {    
    font-family:"ubuntu";
    src: url(../fonts/ubuntu/ubuntu_light_italic.ttf);
    font-weight: 400;
    font-style: italic; 
}

/* General Setup */

html {    
    font-size:10px;
    font-family:"ubuntu light", serif;
}

body {
    margin:0 auto;
    width:100%;
    max-width:1290px;
    background-image:url(../images/background_1.jpg);    
}

main {
    margin:1% auto;
    width:90%;
    display:grid;
    grid-column-gap:.5%;
    grid-template-columns: repeat(2, 1fr);
    padding-bottom:4%;
}

ul {    
    list-style-type:none;
}

a {    
    text-decoration:none;
}

/* Header */

header {
    text-align: center;
    margin:0;
}

h1 {
    font-family: 'Baskervville', serif;
    padding:2% 2% 0 2%;
    margin:0;
    font-size:6rem;
    color:#000;
}

.accent {
    text-transform: uppercase;
    font-weight: 700;
}


/* Navigation Menu */

nav {  
    border:solid #000000;
    border-radius: 1.5em;
    margin-top:0;
    text-align: center;
    background-image: linear-gradient(to right, rgb(252, 189, 189) 0%, #ad1010 75%)
}

nav ul {
    padding: 0; 
    list-style-type: none; 
    display: flex; 
    flex-wrap:wrap;
}

nav li {
    padding:0 4% 0 2%;
    display:inline;
    flex: 1 160px; 
    margin:.25%
}

nav li a {
    display: block; 
    font-size: 1.5rem; 
    line-height: 1.7; 
    text-transform: uppercase; 
    text-decoration: none; 
    color: #234; 
    font-family:'unbuntu', sans-serif; 
    background-color:#8FB0D0;  
    padding:4%; 
    text-align: center; 
    border-radius:3px; 
    box-shadow:2px 2px 2px #333;
}

nav li a:focus, 
nav li a:hover {
  color: white;
  background: #33658A;
  font-style: italic;
}

.item-1 {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    display:grid;
    grid-column-gap:.5%;
    grid-template-columns:repeat(2, 1fr);
    font-size:1.2rem;
    line-height:1.5;
    background-color:#f2f7f2;
    box-shadow:3px 2px 1px #333;
    border:1px solid #333;
    border-radius:5px;
    margin:0;
}

.featured-bio {
    margin:0;
    max-width:600px;
    padding:1%;
}

.featured-bio img {
    width:100%;
    max-width:600px;
}

.works {
    font-size:1.2rem;
    line-height:1.5;
    text-align: justify;
    justify-self:end;
    display:grid;
    grid-column-gap:.5%;
    grid-template-areas:"p1 p1" 
                        "list-1 list-2"
                        "p2 p2"
                        "works-list works-list"
                        "p3 p3";
    max-width:600px;
    margin:0;
    padding:1%;
}

.works-list{
    grid-area: works-list;
    padding:0;
    margin:0 auto;
    width:90%;
    display:flex;
    justify-content:stretch;
}

.works-list li {
    padding:.5%
}

.works img {
    width:100%;
    max-width:100px;
}

.p1 {
    grid-area: p1;
    margin-bottom:0;
}

.p2 {
    grid-area: p2;
    margin-top:0;
}

.p3 {
    grid-area: p3;
}

.list-1 {
    grid-area: list-1;
    margin-top:0;
    margin-bottom:0;
}

.list-2 {
    grid-area: list-2;
    margin-top:0;
    margin-bottom:0;
}

.item-2,
.item-3,
.item-4,
.item-5,
.item-6,
.item-7 {
    background-color:#f2f7f2;
    box-shadow:3px 2px 1px #333;
    border:1px solid #333;
    padding:1%;
    border-radius:5px;
    max-width:600px;
    margin-left:0;
    margin-right:0;
}

figcaption {
    text-align: justify;
    max-width:600px;
}

/* Typographic Styles */

h2 {
    margin-top:0;
    font-family: 'ubuntu italic';
    font-size:2.5rem;
}

.bio {    
    font-size:1.2rem;
    line-height:1.5;
    text-align: justify;
}

.bio img {
    width:100%;
    max-width:600px
        
}

.item-2 {    
    grid-column:1 / 2;
    grid-row: 2 / 3;
    
}

.item-3 {    
    grid-column:2 / 3;
    grid-row: 2 / 3;
    justify-self: end;
}

.item-4 {
    grid-column:1 / 2;
    grid-row: 4 / 5;
}

.item-5 {    
    grid-column:2 / 3;
    grid-row: 4 / 5;
    justify-self: end;
}

.item-6 {    
    grid-column:1 / 2;
    grid-row: 5 / 6;
}

.item-7 {    
    grid-column:2 / 3;
    grid-row: 5 / 6;
    justify-self: end;
}


/* Footer */

footer {
    font-family:"expletus sans", sans-serif;
    margin:4% auto;
    width:98%;
    max-width:1290px;
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1%;
    border-top:1px solid #333;
    background-color:#000000;
    color:rgb(255, 255, 255);
    text-align: center;
}

footer :nth-child(2) {    
    text-align:center;
}
